* {
  box-sizing: content-box;
}

body {
  background-color: blanchedalmond;
  font-size: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #bf152f;
}

main {
  border: 4px, solid #bf152f;
  display: inline-block;
  width: 25rem;
}

#numbers-board {
  background-color: white;
}

#pulled-number {
  text-align: center;
}

.numberCell {
  display: inline-block;
  border: 1px, solid #bf152f;
  width: 9%;
}

.pulledNumbers {
  background-color: #bf152f;
}

.pulled-number {
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  border: 4px, solid #bf152f;
  padding: 1rem;
  font-size: 3rem;
  border-radius: 50%;
  background-color: white;
}
h2 {
  margin-bottom: 2rem;
}

button {
  margin-block: 2rem;
  padding: 1rem;
  background-color: white;
  border: 4px, solid #bf152f;
}
